<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ 'site.index.title'|trans }}{% endblock %}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ assetsHashManager.asset('site/app.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}
</head>
<body>
{% set localeCs = 'cs' %}
{% set localeDe = 'de' %}
{% set localeEn = 'en' %}

{% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{ assetsHashManager.asset('site/app.js') }}"></script>
    <div id="gg-site-key" data-key="{{ gg_recaptcha_site_key }}"></div>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{ app.request.locale }}" async defer></script>
{% endblock %}
</body>
</html>