{% extends 'admin/components/layout.html.twig' %}

{% block title %}Seznam kytar{% endblock %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Seznam kytar</h1>
    {% include 'admin/components/flashes.html.twig' %}

    <a href="{{ path('_guitar_model_add') }}" class="btn btn-primary btn-sm mb-3">Přidat novy model</a>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Seznam kytar</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-dark data-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Model</th>
                        <th>Stav</th>
                        <th>Akce</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for guitar in guitars %}
                        <tr>
                            <td>{{ guitar.id }}</td>
                            <td>{{ guitar.name }}</td>
                            <td>
                                {% if guitar.enabled %}
                                    <span class="badge badge-success">Publikováno</span>
                                {% else %}
                                    <span class="badge badge-warning">Skrytý</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if guitar.enabled %}
                                    <a href="{{ path('_guitar_toggle', {'model': guitar.id}) }}" class="btn btn-warning btn-sm">Skrýt</a>
                                {% else %}
                                    <a href="{{ path('_guitar_toggle', {'model': guitar.id}) }}" class="btn btn-success btn-sm">Publikovat</a>
                                {% endif %}

                                <a href="{{ path('_guitar_model_edit', {'model': guitar.id}) }}" class="btn btn-primary btn-sm">Změnit</a>
                                <a onclick="return confirm('Jsi si jistý?')"
                                   href="{{ path('_guitar_delete_model', {'model': guitar.id}) }}"
                                   class="btn btn-danger btn-sm">
                                    Vymazat
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}