{% extends 'admin/components/layout.html.twig' %}

{% block title %}Změnit model{% endblock %}

{% block content %}
    <h1 class="mb-2 text-gray-800">Upravit kytaru</h1>

    {% include 'admin/components/flashes.html.twig' %}

    <hr>

    <h2 class="mb-3 text-gray-800">Varianty</h2>

    {% for variant in guitar.variants %}
        <div class="card shadow mb-4">
            <div class="card-body">
                <a onclick="return confirm('Opravdu chcete smazat tuto variantu?')"
                   href="{{ path('_guitar_model_delete_variant', {'model': guitar.id, 'variant': variant.id}) }}"
                   class="btn btn-danger btn-sm float-right">
                    <i class="fas fa-trash"></i>
                </a>
                <a href="{{ path('_guitar_model_rename_variant', {'variant': variant.id}) }}" class="btn btn-sm btn-primary float-right mr-2">
                    <i class="fas fa-edit"></i>
                </a>
                <h4>
                    {{ variant.name }}
                </h4>
                <hr>
                <h5>Colors:</h5>
                {% for color in variant.colors %}
                    <div class="m-2 border border-secondary rounded p-2">
                        <a onclick="return confirm('Jsi si jistý?')"
                           href="{{ path('_guitar_color_delete', {'color': color.id, 'model': guitar.id}) }}"
                           class="btn btn-sm btn-danger float-right">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a href="{{ path('_guitar_color_edit', {'color': color.id}) }}" class="btn btn-sm btn-primary float-right mr-2">
                            <i class="fas fa-edit"></i>
                        </a>

                        <p>
                            <strong>{{ color.name }}</strong>

                            <a href="{{ path('_guitar_color_set_default', {'color': color.id}) }}">
                                {% if color.isDefault %}
                                    <i class="fas fa-star text-warning" title="Změnit výchozí barvu"></i>
                                {% else %}
                                    <i class="fas fa-star text-secondary" title="Změnit výchozí barvu"></i>
                                {% endif %}
                            </a>
                        </p>

                        <div class="row">
                            {% for image in color.orderedImages %}
                                <div class="col-4 col-sm-3 col-md-2 col-xl-1">
                                    <img class="img-full" src="{{ asset(imageAssets ~ image.fileName) }}" alt="Obrazek">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                <div class="justify-content-end d-flex">
                    <a
                        href="{{ path('_guitar_color_add', {'model': guitar.id, 'variant': variant.id}) }}"
                        class="btn btn-success btn-sm mr-2">
                        Přidat novou barvu
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}

    <h2 class="mb-3 text-gray-800">Přidat novou variantu:</h2>
    <div class="card shadow mb-4">
        <div class="card-body">
            {{ form_start(variantForm) }}
            {{ form_row(variantForm.name) }}
            {{ form_end(variantForm) }}
        </div>
    </div>

    <hr>

    <h2 class="mb-3 text-gray-800">Detaily</h2>

    {% if guitar.guitarSpecs.count > 0 %}
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="row">
                    {% for spec in guitar.guitarSpecs %}
                        <div class="col-12 col-md-4">
                            <h5>{{ spec.name }}</h5>
                            <div>{{ spec.description|raw }}</div>
                            <hr>
                            <a href="{{ path('_guitar_spec_edit', {'model': guitar.id, 'spec': spec.id}) }}">Změnit</a> |
                            <a href="{{ path('_guitar_spec_delete', {'model': guitar.id, 'spec': spec.id}) }}" onclick="return confirm('Jsi jistý?')">Vymazat</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <h2 class="mb-3 text-gray-800">Přidat novy detail:</h2>
    <div class="card shadow mb-4">
        <div class="card-body">
            {{ form(specForm) }}
        </div>
    </div>


    <hr>
    <h2 class="mb-3 text-gray-800">Změnit model</h2>
    <div class="card shadow mb-4">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.name) }}

            <div class="{% if app.session.get('language') != localeCs %}d-none{% endif %}">
                {{ form_row(form.titleCs) }}
                {{ form_row(form.descriptionCs) }}
                {{ form_row(form.metaTitleCs) }}
                {{ form_row(form.metaDescriptionCs) }}
            </div>
            <div class="{% if app.session.get('language') != localeDe %}d-none{% endif %}">
                {{ form_row(form.titleDe) }}
                {{ form_row(form.descriptionDe) }}
                {{ form_row(form.metaTitleDe) }}
                {{ form_row(form.metaDescriptionDe) }}
            </div>
            <div class="{% if app.session.get('language') != localeEn %}d-none{% endif %}">
                {{ form_row(form.titleEn) }}
                {{ form_row(form.descriptionEn) }}
                {{ form_row(form.metaTitleEn) }}
                {{ form_row(form.metaDescriptionEn) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}