{% extends 'admin/components/layout.html.twig' %}

{% block title %}Vytvořit model{% endblock %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Vytvořit model</h1>
    {% include 'admin/components/flashes.html.twig' %}

    <div class="card shadow mb-4">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            
            <div class="{% if app.session.get('language') != localeCs %}d-none{% endif %}">
                {{ form_row(form.titleCs) }}
                {{ form_row(form.descriptionCs) }}
                {{ form_row(form.specsCs) }}
                {{ form_row(form.metaTitleCs) }}
                {{ form_row(form.metaDescriptionCs) }}
            </div>
            <div class="{% if app.session.get('language') != localeDe %}d-none{% endif %}">
                {{ form_row(form.titleDe) }}
                {{ form_row(form.descriptionDe) }}
                {{ form_row(form.specsDe) }}
                {{ form_row(form.metaTitleDe) }}
                {{ form_row(form.metaDescriptionDe) }}
            </div>
            <div class="{% if app.session.get('language') != localeEn %}d-none{% endif %}">
                {{ form_row(form.titleEn) }}
                {{ form_row(form.descriptionEn) }}
                {{ form_row(form.specsEn) }}
                {{ form_row(form.metaTitleEn) }}
                {{ form_row(form.metaDescriptionEn) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}