{% extends 'admin/components/layout.html.twig' %}
{% block title %}Druh zboží{% endblock %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Seznam kategorií produktů</h1>
    {% include 'admin/components/flashes.html.twig' %}

    <a href="{{ path('_merch_category_add') }}" class="btn btn-primary btn-sm mb-3">Přidat novou kategorii</a>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Kategorie</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-dark data-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Kategorie</th>
                        <th>Akce</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for merchCategory in merchCategories %}
                    <tr>
                        <td>{{ merchCategory.id }}</td>
                        <td>{{ etrans.jsonHtml(merchCategory.name)|raw }}</td>
                        <td>
                            <a href="{{ path('_merch_category_edit', {'merchCategory': merchCategory.id}) }}" class="btn btn-primary btn-sm">Změnit</a>
                            <a onclick="return confirm('Opravdu chcete smazat tyto novinky?')"
                               href="{{ path('_merch_category_delete', {'merchCategory': merchCategory.id}) }}"
                               class="btn btn-danger btn-sm">
                                Vymazat
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}