<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path("_post_list") }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-music"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Stronberg</div>
    </a>

    <hr class="sidebar-divider my-0">


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Jazyk - <b>
                {% if app.session.get('language') == localeEn %}EN{% endif %}
                {% if app.session.get('language') == localeCs %}CZ{% endif %}
                {% if app.session.get('language') == localeDe %}DE{% endif %}
                </b></span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Překlady pro:</h6>
                <a class="collapse-item {% if app.session.get('language') == localeEn %}active{% endif %}" href="{{ path('_change_show_language', {'language': localeEn}) }}">EN</a>
                <a class="collapse-item {% if app.session.get('language') == localeCs or app.session.get('language') is null %}active{% endif %}" href="{{ path('_change_show_language', {'language': localeCs}) }}">CZ</a>
                <a class="collapse-item {% if app.session.get('language') == localeDe %}active{% endif %}" href="{{ path('_change_show_language', {'language': localeDe}) }}">DE</a>

            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item {% if app.request.get('_route') starts with '_guitar_' %}active{% endif %}">
        <a class="nav-link" href="{{ path('_guitar_list') }}">
            <i class="fas fa-guitar"></i>
            <span>Kytary</span>
        </a>
    </li>

    <li class="nav-item {% if app.request.get('_route') starts with '_post_' %}active{% endif %}">
        <a class="nav-link" href="{{ path('_post_list') }}">
            <i class="fas fa-rss-square"></i>
            <span>Novinky</span>
        </a>
    </li>

    <li class="nav-item {% if app.request.get('_route') starts with '_artist_' %}active{% endif %}">
        <a class="nav-link" href="{{ path('_artist_list') }}">
            <i class="fas fa-user-friends"></i>
            <span>Umělci</span>
        </a>
    </li>

    <li class="nav-item {% if app.request.get('_route') starts with '_merch_' %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoMerch" aria-expanded="false" aria-controls="collapseTwoMerch">
            <i class="fas fa-tshirt"></i>
            <span>Zboží</span>
        </a>
        <div id="collapseTwoMerch" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <a href="{{ path('_merch_category_list') }}" class="collapse-item">Kategorie zboží</a>
                <a href="{{ path('_merch_list') }}" class="collapse-item">Zboží</a>
            </div>
        </div>
    </li>

    <li class="nav-item {% if app.request.get('_route') starts with '_slider_' %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoContent" aria-expanded="false" aria-controls="collapseTwoMerch">
            <i class="fas fa-quote-right"></i>
            <span>Obsah stránek</span>
        </a>
        <div id="collapseTwoContent" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <a href="{{ path('_slider_list') }}" class="collapse-item">Slider</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>