{% extends 'admin/components/layout.html.twig' %}

{% block title %}Přidat zboží{% endblock %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Přidat nove zboží</h1>
    {% include 'admin/components/flashes.html.twig' %}

    <div class="card shadow mb-4">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.merchCategory) }}
            <div class="{% if app.session.get('language') != localeCs %}d-none{% endif %}">
                {{ form_row(form.nameCs) }}
            </div>
            <div class="{% if app.session.get('language') != localeDe %}d-none{% endif %}">
                {{ form_row(form.nameDe) }}
            </div>
            <div class="{% if app.session.get('language') != localeEn %}d-none{% endif %}">
                {{ form_row(form.nameEn) }}
            </div>
            {{ form_row(form.price) }}
            {{ form_row(form.image) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}