{% extends 'admin/components/layout.html.twig' %}

{% block title %}Změnit informace o umělci{% endblock %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Změnit informace o umělci {{ artist.name }}</h1>
    {% include 'admin/components/flashes.html.twig' %}

    <div class="card shadow mb-4">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            <div class="{% if app.session.get('language') != localeCs %}d-none{% endif %}">
                {{ form_row(form.titleCs) }}
                {{ form_row(form.aboutCs) }}
            </div>
            <div class="{% if app.session.get('language') != localeDe %}d-none{% endif %}">
                {{ form_row(form.titleDe) }}
                {{ form_row(form.aboutDe) }}
            </div>
            <div class="{% if app.session.get('language') != localeEn %}d-none{% endif %}">
                {{ form_row(form.titleEn) }}
                {{ form_row(form.aboutEn) }}
            </div>
            {{ form_row(form.guitar) }}
            {{ form_row(form.link) }}

            <div>
                <h5>Aktuální obrázky: </h5>
                <div class="row">
                    {% for file in artist.files %}
                        <div class="col-4 mb-1 text-center">
                            <img class="img-full" src="{{ asset(imageAssets ~ file.fileName) }}" alt="{{ artist.name }}">
                            <a onclick="return confirm('Opravdu chcete smazat tento obrázek?')"
                               class="btn btn-danger btn-sm mt-2"
                               href="{{ path('_artist_delete_image', {'file': file.id}) }}">Smazat obrázek</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if artist.files|length < 3 %}
                {{ form_row(form.image1) }}
            {% else %}
                <div class="d-none">
                    {{ form_row(form.image1) }}
                </div>
            {% endif %}
            <div class="d-none">
                {{ form_row(form.image2) }}
                {{ form_row(form.image3) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}