{% extends 'admin/components/layout.html.twig' %}

{% block title %}Změnit heslo{% endblock %}

{% block content %}
    {% include 'admin/components/flashes.html.twig' %}

    <div class="card shadow mb-4">
        {{ form_start(form) }}
        <div class="card-header py-3">
            <h1 class="h6 m-0 font-weight-bold text-primary">Změnit heslo</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.passwordBefore) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.password.first) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.password.second) }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            {% set iconSavePassword %}
                {{ form_row(form.submit, {'attr': {'class': 'btn btn-success float-left'}}) }}
            {% endset %}
            {{ iconSavePassword|replace({'#ICON_SAVE#': '<i class="far fa-save mr-2"></i>'})|raw }}
            <div class="clearfix"></div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

