{% extends 'admin/components/layout.html.twig' %}

{% block title %}Vytvořit novinku{% endblock %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Vytvořit novinku</h1>
    {% include 'admin/components/flashes.html.twig' %}

    <div class="card shadow mb-4">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="{% if app.session.get('language') != localeCs %}d-none{% endif %}">
                {{ form_row(form.titleCs) }}
                {{ form_row(form.previewCs) }}
                {{ form_row(form.contentCs) }}
                {{ form_row(form.metaTitleCs) }}
                {{ form_row(form.metaDescriptionCs) }}
            </div>
            <div class="{% if app.session.get('language') != localeDe %}d-none{% endif %}">
                {{ form_row(form.titleDe) }}
                {{ form_row(form.previewDe) }}
                {{ form_row(form.contentDe) }}
                {{ form_row(form.metaTitleDe) }}
                {{ form_row(form.metaDescriptionDe) }}
            </div>
            <div class="{% if app.session.get('language') != localeEn %}d-none{% endif %}">
                {{ form_row(form.titleEn) }}
                {{ form_row(form.previewEn) }}
                {{ form_row(form.contentEn) }}
                {{ form_row(form.metaTitleEn) }}
                {{ form_row(form.metaDescriptionEn) }}
            </div>
            {{ form_row(form.image1) }}
            {{ form_row(form.image2) }}
            {{ form_row(form.image3) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}