{% extends 'admin/components/layout.html.twig' %}

{% block title %}Změna novinky{% endblock %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">
        Změnit novinku ID - {{ post.id }}
        {% if post.enabled %}
            <span class="badge badge-success">Publikováno</span>
        {% else %}
            <span class="badge badge-warning">Skryto</span>
        {% endif %}
    </h1>

    {% include 'admin/components/flashes.html.twig' %}

    <div class="card shadow mb-4">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="{% if app.session.get('language') != localeCs %}d-none{% endif %}">
                {{ form_row(form.titleCs) }}
                {{ form_row(form.previewCs) }}
                {{ form_row(form.contentCs) }}
                {{ form_row(form.metaTitleCs) }}
                {{ form_row(form.metaDescriptionCs) }}
            </div>
            <div class="{% if app.session.get('language') != localeDe %}d-none{% endif %}">
                {{ form_row(form.titleDe) }}
                {{ form_row(form.previewDe) }}
                {{ form_row(form.contentDe) }}
                {{ form_row(form.metaTitleDe) }}
                {{ form_row(form.metaDescriptionDe) }}
            </div>
            <div class="{% if app.session.get('language') != localeEn %}d-none{% endif %}">
                {{ form_row(form.titleEn) }}
                {{ form_row(form.previewEn) }}
                {{ form_row(form.contentEn) }}
                {{ form_row(form.metaTitleEn) }}
                {{ form_row(form.metaDescriptionEn) }}
            </div>
            <div>
                <h5>Aktuální obrázky: </h5>
                <div class="row">
                    {% for file in post.files %}
                        <div class="col-4 mb-1 text-center">
                            <img class="img-full" src="{{ asset(imageAssets ~ file.fileName) }}" alt="{{ post.title }}">
                            <a onclick="return confirm('Opravdu chcete smazat tento obrázek?')"
                               class="btn btn-danger btn-sm mt-2"
                               href="{{ path('_artist_delete_image', {'file': file.id}) }}">Smazat obrázek</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% if post.files|length < 5 %}
                {{ form_row(form.image1) }}
            {% else %}
                <div class="d-none">
                    {{ form_row(form.image1) }}
                </div>
            {% endif %}
            <div class="d-none">
                {{ form_row(form.image2) }}
                {{ form_row(form.image3) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}