{% extends 'site/layout.html.twig' %}

{% block title %}Stromberg{% endblock %}

{% block body %}
    {% include 'site/app/_component/header.html.twig' %}
    {% include 'site/app/_component/page_title.html.twig' with {title: 'site.index.title'|trans} %}

    <div id="main-carousel" class="carousel slide mb-4 mb-md-5 mb-lg-6 mb-xl-7" data-ride="carousel" data-aos="fade-up">
        <div class="carousel-inner">
            {% for sliderImage in sliderImages %}
            <div class="carousel-item {% if loop.first %}active{% endif %}" data-interval="10000">
                <img class="d-block w-100" src="{{ asset(imageAssets ~ sliderImage.imageFilename) }}" alt="{{ sliderImage.altName }}" loading="lazy">
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        {% include 'site/app/_component/short_block_with_text.html.twig' with {
            'header': 'site.index.established.header'|trans,
            'text': 'site.index.established.text'|trans,
            'link': '<a href="' ~ path('site_app_about') ~ '" class="underlined">'~ 'site.index.established.more'|trans ~ '</a>'
        } %}

        <div class="row mb-7 text-center no-gutters thumbnail-menu" data-aos="fade-up">
            <div class="col-12 col-md-4">
                <a href="{{ path('site_app_guitars') }}">
                    <div class="m-1 element zoom-out" style="background-image: url('{{ asset('images/menu/menu_models.jpg') }}')">
                        <div class="inner"><h3>{{ 'site.index.menuThumbnail.models'|trans }}</h3></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="{{ path('site_app_artists') }}">
                    <div class="m-1 element zoom-out" style="background-image: url('{{ asset('images/menu/menu_artists.jpg') }}')">
                        <div class="inner"><h3>{{ 'site.index.menuThumbnail.artists'|trans }}</h3></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="{{ path('site_app_merch') }}">
                    <div class="m-1 element zoom-out" style="background-image: url('{{ asset('images/menu/menu_merch.jpg') }}')">
                        <div class="inner"><h3>{{ 'site.index.menuThumbnail.merch'|trans }}</h3></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="m-auto container-limited">
            <div class="row no-gutters">
                <div class="col-12 col-md-6">
                    {% for post in lastPosts|slice(0, 1) %}
                        <div class="mb-5 m-1">
                            <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="240">
                                {% if post.files[0] is defined %}
                                    <a href="{{ path('site_app_post', {'post': post.id}) }}">
                                        <img class="mb-4 img-full" src="{{ asset(imageAssets ~ post.files[0].fileName) }}" alt="{{ etrans.read(post.title) }}" loading="lazy"/>
                                    </a>
                                {% endif %}
                                <h2>{{ etrans.read(post.title) }}</h2>
                                <p class="mb-4">
                                    {{ etrans.read(post.preview) }}
                                </p>
                                <a href="{{ path('site_app_post', {'post': post.id}) }}" class="underlined">{{ 'site.index.posts.readMore'|trans }}</a>
                            </div>
                        </div>
                    {% endfor %}
                    {% for post in lastPosts|slice(2, 1) %}
                        <div class="mb-5 m-1">
                            <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="240">
                                {% if post.files[0] is defined %}
                                    <a href="{{ path('site_app_post', {'post': post.id}) }}">
                                        <img class="mb-4 img-full" src="{{ asset(imageAssets ~ post.files[0].fileName) }}" alt="{{ etrans.read(post.title) }}" loading="lazy"/>
                                    </a>
                                {% endif %}
                                <h2>{{ etrans.read(post.title) }}</h2>
                                <p class="mb-4">
                                    {{ etrans.read(post.preview) }}
                                </p>
                                <a href="{{ path('site_app_post', {'post': post.id}) }}" class="underlined">{{ 'site.index.posts.readMore'|trans }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-12 col-md-6">
                    <div class="d-none d-md-block d-lg-block d-xl-block" style="height: 225px;"></div>
                    {% for post in lastPosts|slice(1, 1) %}
                        <div class="mb-5 m-1">
                            <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="240">
                                {% if post.files[0] is defined %}
                                    <a href="{{ path('site_app_post', {'post': post.id}) }}">
                                        <img class="mb-4 img-full" src="{{ asset(imageAssets ~ post.files[0].fileName) }}" alt="{{ etrans.read(post.title) }}" loading="lazy"/>
                                    </a>
                                {% endif %}
                                <h2>{{ etrans.read(post.title) }}</h2>
                                <p class="mb-4">
                                    {{ etrans.read(post.preview) }}
                                </p>
                                <a href="{{ path('site_app_post', {'post': post.id}) }}" class="underlined">{{ 'site.index.posts.readMore'|trans }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row no-gutters contact-tabs mt-5">
            <div class="col-12 col-lg-6 item" style="background-image: url('{{ asset('images/menu/menu_contact_us.jpg') }}')">
                <a href="#tab-contact-us" class="contact-tab-link pl-5 pt-5 pb-5" style="display: block;">
                    <div class="pl-lg-4">
                        <p class="text-lead mt-5">{{ 'site.index.contactMenu.contactUs'|trans }}</p>
                        <h4 class="mb-4 text-decoration-none">
                            {{ 'site.index.contactMenu.contactUsText'|trans|raw }}
                        </h4>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 item" style="background-image: url('{{ asset('images/menu/menu_contact_dist.jpg') }}')">
                <a href="#tab-contact-distributors" class="contact-tab-link pl-5 pt-5 pb-5" style="display: block;">
                    <div class="pl-lg-4">
                        <p class="text-lead mt-5">{{ 'site.index.contactMenu.contactDistributors'|trans }}</p>
                        <h4 class="mb-4 text-decoration-none">
                            {{ 'site.index.contactMenu.contactDistributorsText'|trans|raw }}
                        </h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="contact-tabs-content mb-7">
            <div id="tab-contact-us" class="bg-light-dark item fade">
                <div class="row">
                    <div class="col-12 col-lg-6 p-5">
                        <div class="p-xl-5">
                            <h2 class="mb-5">{{ 'site.index.contactMenu.contactUsTab.header'|trans|raw }}</h2>

                            {{ form_start(contactForm) }}
                                <div class="form-group mb-5">
                                    {{ form_errors(contactForm.name) }}
                                    {{ form_label(contactForm.name, 'site.index.contactMenu.contactUsTab.form.name'|trans) }}
                                    {{ form_widget(contactForm.name, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group mb-5">
                                    {{ form_errors(contactForm.email) }}
                                    {{ form_label(contactForm.email, 'site.index.contactMenu.contactUsTab.form.email'|trans) }}
                                    {{ form_widget(contactForm.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group mb-5">
                                    {{ form_errors(contactForm.content) }}
                                    {{ form_label(contactForm.content, 'site.index.contactMenu.contactUsTab.form.message'|trans) }}
                                    {{ form_widget(contactForm.content, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-light pl-4 pr-4 float-right rounded-0">
                                        {{ 'site.index.contactMenu.contactUsTab.form.send'|trans }}
                                    </button>
                                </div>
                            {{ form_end(contactForm) }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-5">
                        <p class="lead text-bolder mt-xl-5">Stromberg</p>
                        <p>
                            <strong>{{ 'site.index.contactMenu.contactDistTab.office'|trans }}</strong><br><br>
                            NBE Corp. s.r.o. <br>
                            Václavkova 2 <br>
                            160 00 Prague 6 <br>
                            Czech Republic <br><br>
                            {{ 'site.index.contactMenu.contactDistTab.email'|trans }}: <a href="mailto:info@nbe.cz">info@nbe.cz</a> <br>
                            {{ 'site.index.contactMenu.contactDistTab.telephone'|trans }} <a href="tel:+420312310975">+420 312 310 975</a>
                        </p>
                        <p>
                            <strong>{{ 'site.index.contactMenu.contactDistTab.factory'|trans }}</strong><br><br>
                            NBE Corp. s.r.o. <br>
                            Sklenářka 1512 <br>
                            26801 Hořovice <br>
                            Czech Republic <br><br>
                            {{ 'site.index.contactMenu.contactDistTab.email'|trans }}: <a href="mailto:info@nbe.cz">info@nbe.cz</a> <br>
                            {{ 'site.index.contactMenu.contactDistTab.telephone'|trans }} <a href="tel:+420775415784">+420 775 415 784</a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="tab-contact-distributors" class="bg-light-dark item fade">
                <div class="row">
                    <div class="col-12 p-5">
                        <div class="p-xl-5">
                            <h3 class="mb-5">{{ 'site.index.contactMenu.contactDistTab.contact'|trans }}</h3>
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <h4 class="mb-5">
                                        {{ 'site.index.contactMenu.contactDistTab.contactSub'|trans|raw }}
                                        <a class="default-underline text-size-default" href="mailto:info@nbe.cz">info@nbe.cz</a>
                                    </h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-6 col-xl-3 mb-3">
                                    <b>Thomas Specht</b> <br><br>
                                    <b class="text-xs">South Germany, Austria, Switzerland</b>
                                    <p class="text-xs">Mittelstr. 37 D-88471 Laupheim Deutschland</p>
                                    <p class="text-xs">
                                        {{ 'site.index.contactMenu.contactDistTab.email'|trans }} <a class="default-underline text-xs" href="mailto:info@ts-audioline.de">info@ts-audioline.de</a> <br>
                                        {{ 'site.index.contactMenu.contactDistTab.telephone'|trans }} <a class="default-underline text-xs" href="tel:+4907392150060">+49 (0)7392-150060</a> <br>
                                        {{ 'site.index.contactMenu.contactDistTab.mobile'|trans }} <a class="default-underline text-xs" href="tel:+4901727288787">+49 (0)172-7288787</a> <br>
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 mb-3">
                                    <b>Stephan Saretz</b> <br><br>
                                    <b class="text-xs">North, West, East Germany </b>
                                    <p class="text-xs">Fliederweg 2 14469 Potsdam Deutschland</p>
                                    <p class="text-xs">
                                        {{ 'site.index.contactMenu.contactDistTab.email'|trans }} <a class="default-underline text-xs" href="mailto:info@ts-audioline.de">info@ts-audioline.de</a> <br>
                                        {{ 'site.index.contactMenu.contactDistTab.telephone'|trans }} <a class="default-underline text-xs" href="tel:+4907392150060">+49 (0)7392-150060</a> <br>
                                        {{ 'site.index.contactMenu.contactDistTab.mobile'|trans }} <a class="default-underline text-xs" href="tel:+4901727288787">+49 (0)172-7288787</a> <br>
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 mb-3">
                                    <b>Voerman Amersfoort BV </b> <br><br>
                                    <b class="text-xs">Netherlands, Belgium, Luxembourg</b>
                                    <p class="text-xs">P.O.Box 321 Vanadiumweg 17 3800 <br> AH Amersfoort the Netherlands </p>
                                    <p class="text-xs">
                                        {{ 'site.index.contactMenu.contactDistTab.email'|trans }} <a class="default-underline text-xs" href="mailto:info@voerman.nl">info@voerman.nl</a> <br>
                                        {{ 'site.index.contactMenu.contactDistTab.telephone'|trans }} <a class="default-underline text-xs" href="tel:0031334612908">(0031) 33 461 2908</a>
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 mb-3">
                                    <b>iMusicnetwork e.K.</b> <br><br>
                                    <b class="text-xs">Germany, Austria</b>
                                    <p class="text-xs">Kapellenweg 5 97268 Kirchheim</p>
                                    <p class="text-xs">
                                        {{ 'site.index.contactMenu.contactDistTab.website'|trans }} <a class="default-underline text-xs" href="https://i-musicnetwork.com">www.i-musicnetwork.com</a> <br>
                                        {{ 'site.index.contactMenu.contactDistTab.telephone'|trans }} <a class="default-underline text-xs" href="tel:+49 (0)9366 99979">+49 (0)9366 99979</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'site/app/_component/footer.html.twig' %}

{% endblock %}